<div class="comment-content">
    <div class="comment-input-container">
        <div class="commenter-avatar"></div>
        <input class="comment-input" placeholder="Add a comment..."/>
    </div>
</div>