<div class="my-card">
    <div class="my-card-header">
        <div class="my-card-header-title">
            <h3>
                <a href="/posts/update/{{post.id}}">{{post.title}}</a>
            </h3>
        </div>
        <div class="my-card-header-timestamp">
            <strong>{{format_time post.createdAt}}</strong>
        </div>
    </div>
</div>