<div class="page-container ">
    
    <div class="page-heading">
        {{> page-title title="My Dashboard" }}
        {{#if loggedIn}}
            <button>
                <a type="button" href="/posts/create">+ New Post</a>
            </button>
        {{/if}}
    </div>

    {{#check loggedIn undefined}}
    {{/check}}

    <div>
        {{#each posts as |post|}}
            {{> my-post-card post=post}}
        {{/each}}
    </div>

</div>

<script src="js/dashboard.js"></script>
