<link rel="stylesheet" href="/css/comment.css" />

<div class="page-container ">
    
    {{> page-title title="The Tech Blog" }}

    {{> post-card post=post}}

    {{> comment-box comments=post.comments}}

</div>