<link rel="stylesheet" href="/css/post-page.css" />

<div class="page-container ">
   
   <div class="page-heading">
        {{> page-title title="My Dashboard" }}
    </div>

    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h3>
                    Create New Post
                </h3>
            </div>
        </div>
        <div class="card-content">
            <form id="form-create-post" class="form-post">  
                <label>Title</label>   
                <input type="text" placeholder="Enter title" name="title" required>  
                <label>Content</label>    
                <textarea placeholder="Enter content" name="content" required rows="6" >
                </textarea>
                <button type="submit">Create</button>   
            </form> 
        </div>
    </div>

</div>

<script src="js/post.create.js"></script>
