<link rel="stylesheet" href="css/login-page.css" />

<div class="page-container login-page">

    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h1>Signup</h1>
            </div>
        </div>
        <div class="card-content">
            <form id="form-signup">  
                <label>Username</label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <label>Email</label>   
                <input type="text" placeholder="Enter Email" name="email" required>  
                <label>Password</label>   
                <input type="password" placeholder="Enter Password" name="password" required> 
                <label>Confirm Password</label>   
                <input type="password" placeholder="Confirm Password" name="confirm-password" required>  
                <button type="submit">Signup</button>   
            </form>     
        </div>
    </div>

</div>

<script src="js/signup.js"></script>
