.comment-content {
    margin: 16px;
    width: 100%;
}

.comment-input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    font-size: 16px;
    padding: 10px 0px 5px 0px;
}

.comment-input:focus{
    outline: none;
}

.commenter-avatar {
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
}

.comment-input-container {
    display: inline-flex;
    width: 100%;
}

.comment-button-container {
    display: flex;
    flex-flow: row-reverse;
}

.comment-button-container.hide {
    display: none;
}

.comment-button-container button {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    margin-left: 8px;
}
