.login-page form {
    display: flex;
    flex-direction: column;
}

.error-box {
    border: 1px solid #f68888;
    border-radius: 15px;
    padding: 8px;
    background: #f2a9c1;
    color: white;
    padding: 8px 16px;
}

.error-box.show {
    display: block;
}

.error-box.hide {
    display: none;
}
