.content {
    padding-top: 64px;
}

.page-container {
    margin: 16px;
    padding: 16px;
}

.page-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.page-heading button {
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    border-radius: 18px;
    margin-left: 8px;
}

.page-heading button a {
    text-decoration: none;
}

h1.heading {
    margin-bottom: 16px;
}

form {
    width: 100%;
}

form label {
    margin-bottom: 8px;
}

form input {
    padding: 8px;
    margin: 0 0 16px 0;
}

form button {
    padding: 8px;
    margin-bottom: 16px;
}

form a {
    margin: auto;
    text-decoration: none;
}

form a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

