<link rel="stylesheet" href="css/login-page.css" />

<div class="page-container login-page">

    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h1>Signup</h1>
            </div>
        </div>
        <div class="card-content">
            <form>  
                <label>Username</label>   
                <input type="text" placeholder="Enter Username" name="username" required>  
                <label>Password</label>   
                <input type="password" placeholder="Enter Password" name="password" required>  
                <button type="submit">Signup</button>   
            </form>     
        </div>
    </div>

</div>